/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mainmenu-area #primary-menu > ul > li > a {
    	font-size: 12px;
        padding: 15px 12px;
    }
    .header-area {
        padding-top: 80px;
    }
    .price-table,
    .box {
        padding: 50px 14px;
    }
    .price-table.active {
        padding: 50px 15px;
    }
    .single-team {
        margin-bottom: 30px
    }
    .side-icon-boxes {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    
	.mainmenu-area .logo img {
	    width: 140px;
	}    
    .ft-bg {
		background: url('../images/icon/ICON-40.png')  center center no-repeat ;
		background-size: cover;
	}
	.oldnew-bg{
	    background: url(../images/icon/ICON-35.jpg) center center no-repeat;
   		background-size: contain;
	}
	
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    body {
        font-size: 13px;
    }
    .header-area {
        padding-top: 120px;
        padding-bottom: 100px;
        height: auto;
    }
    .page-title h2,
    .header-text h2 {
        font-size: 20px;
    }
    .mainmenu-area .navbar-toggle {
        margin-top: 6px;
    }
    .mainmenu-area .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }
    .mainmenu-area #primary-menu {
        background-color: #138FC2;
    }
    .mainmenu-area #primary-menu ul {
        overflow-y: auto;
        max-height: 70vh;
        margin: 0;
    }
    .mainmenu-area #primary-menu > ul > li > a {
        padding: 15px;
        overflow: hidden;
    }
    .box {
        padding: 30px 15px;
    }
    .box .box-icon {
        height: auto;
    }
    .single-blog,
    .single-team,
    .price-table.active {
        margin-top: 30px;
    }
    .form-double input {
        width: 100%;
    }
    .footer-top {
        margin-bottom: 50px;
    }
    .x-left {
        text-align: left;
    }
    .mainmenu-area .logo {
        margin-left: 15px;
    }
    
    .mainmenu-area .logo img {
	    text-transform: capitalize;
	    padding-top: 6px;
	    width: 130px;
	}
	
	.mytextMobile {
	    font-family: Microsoft JhengHei;
	    font-weight: bold;
	    font-size: 12px;
	    color: #00837D;
	}
	.navbar-nav > li > a {
		font-family: Microsoft JhengHei;
	    padding-top: 10px;
	    font-size: 16px;
	}	    
	.menuicon{
		width: 20px;
	}
	.box-icon-mobile img {
	    width:120px;
	}	
	.imgheader{
		height: 100px;
	}
	.ft-bg {
		background: url('../images/icon/ICON-40xs.jpg')  center center no-repeat ;
		background-size: contain;
	}
	.eColor{
	  background-color: #F4E729;
	  color: #3A7178;
	}
	.pColor{
	  background-color: #ECA578;
	  color: #554739;
	}
	.navbar-toggle {
		padding: 9px 0px;
	    margin-top: 8px;
	    margin-right: -9px;
	}
	.header-bg{
		background: url('../images/bnner.png') center center no-repeat ;
		background-size: cover;
	}
	.fe-bg{
		background: url('../images/mobile/fe-bg.jpg') ;
		background-size: contain;
	}
	.oldnew-bg{
		background: url('../images/mobile/oldnew-bg.jpg') center center no-repeat ;
		background-size: cover;
	}
	.vdo-bg{
		background: url('../images/mobile/vdo-bg.jpg') center center no-repeat ;
		background-size: cover;
	}
		
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {}